/*
        PRP Project
        Copyright (C) 2020  The PRP Project

        This program is free software: you can redistribute it and/or modify
        it under the terms of the GNU General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        This program is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU General Public License for more details.

        You should have received a copy of the GNU General Public License
        along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

/*=======================================
Import Fonts
=======================================*/

/* poppins-300 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('resources/fonts/poppins/poppins-v15-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Poppins'),
  url('resources/fonts/poppins/poppins-v15-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('resources/fonts/poppins/poppins-v15-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('resources/fonts/poppins/poppins-v15-latin-300.woff') format('woff'), /* Modern Browsers */
  url('resources/fonts/poppins/poppins-v15-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('resources/fonts/poppins/poppins-v15-latin-300.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('resources/fonts/poppins/poppins-v15-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Poppins'),
  url('resources/fonts/poppins/poppins-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('resources/fonts/poppins/poppins-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('resources/fonts/poppins/poppins-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('resources/fonts/poppins/poppins-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('resources/fonts/poppins/poppins-v15-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('resources/fonts/poppins/poppins-v15-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Poppins'),
  url('resources/fonts/poppins/poppins-v15-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('resources/fonts/poppins/poppins-v15-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('resources/fonts/poppins/poppins-v15-latin-500.woff') format('woff'), /* Modern Browsers */
  url('resources/fonts/poppins/poppins-v15-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('resources/fonts/poppins/poppins-v15-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('resources/fonts/poppins/poppins-v15-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Poppins'),
  url('resources/fonts/poppins/poppins-v15-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('resources/fonts/poppins/poppins-v15-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
  url('resources/fonts/poppins/poppins-v15-latin-600.woff') format('woff'), /* Modern Browsers */
  url('resources/fonts/poppins/poppins-v15-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
  url('resources/fonts/poppins/poppins-v15-latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('resources/fonts/poppins/poppins-v15-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Poppins'),
  url('resources/fonts/poppins/poppins-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('resources/fonts/poppins/poppins-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('resources/fonts/poppins/poppins-v15-latin-700.woff') format('woff'), /* Modern Browsers */
  url('resources/fonts/poppins/poppins-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('resources/fonts/poppins/poppins-v15-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
}

/*=======================================
Regular SCSS
=======================================*/

body {
  font-family: "Poppins", sans-serif;
  background: #fafafa
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1)
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch
}

#secondarySidebar {
  top: 0;
  left: 80px;
  position: fixed;
  min-width: 250px;
  max-width: 250px;
  background: #343a3f;
  color: #fff;
  transition: all .3s;
  min-height: 100%;
  z-index: 9998 !important;
  margin-left: -330px
}

#secondarySidebar.active {
  margin-left: 0
}

#secondarySidebar .secondarySidebar-header {
  padding: 20px 0;
  background: #17a2b9;
  height: 100px;
  margin-bottom: 15px;

  span {
    padding-left: 15px;
    position: absolute;
    font-size: 1.3rem;
  }
}

#primarySidebar ul p {
  color: #fff;
  padding: 10px
}

#primarySidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block
}

#primarySidebar ul li p {
  font-size: 0.7em
}

#primarySidebar ul li:hover {
  background: #464b50
}

#primarySidebar ul li img {
  height: 2rem
}

#secondarySidebar ul li.active > a, a[aria-expanded=true] {
  color: #fff;
  background: #17a2b9
}

a[data-toggle=collapse] {
  position: relative
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%)
}

ul ul a {
  font-size: .9em !important;
  padding-left: 30px !important;
  background: #17a2b9
}

ul.CTAs {
  padding: 20px
}

ul.CTAs a {
  text-align: center;
  font-size: .9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px
}

a.download {
  background: #fff;
  color: #343a3f
}

a.article, a.article:hover {
  background: #17a2b9 !important;
  color: #fff !important
}

#content {
  position: relative;
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all .3s;
  margin-left: 330px
}

#content.active {
  margin-left: 80px;
  width: 100%
}

@media only screen and (max-width: 380px) {
  body {
    overflow-x: hidden
  }

  #content {
    width: 360px;
    overflow-x: hidden
  }

  #content.active {
    margin-left: 0
  }

  #sidebarDriveInBtn {
    visibility: visible
  }

  #primarySidebar {
    margin-left: -80px
  }
}

#primarySidebar {
  position: fixed;
  width: 80px;
  min-height: 100%;
  background: #2b3033;
  padding: 10px 5px;
  text-align: center;
  align-items: center;
  color: #fff;
  font-weight: 500;
  z-index: 9999 !important;
  margin-left: 0;
  transition: 0.5s
}

#primarySidebar img {
  position: relative;
  width: 100%
}

#primarySidebar p {
  position: relative;
  font-weight: 600
}

#secondarySidebarCollapse {
  top: 0;
  left: 85%;
  position: absolute;
  height: 100%;
  width: 5px;
  background: none;
  border: none;
  outline: none;
  transition: 0.3s;
  float: right;
}

#secondarySidebarCollapse #arrowIcon {
  position: relative;
  transform: translate(-40%);
  color: #fff;
  -moz-transition: all 2s linear;
  -webkit-transition: all 2s linear;
  transition: all 2s linear
}

#secondarySidebarCollapse #arrowIcon.active {
  transform: rotate(180deg) translate(40%)
}

#secondarySidebarCollapse i {
  left: -5px
}

#secondarySidebarCollapse:hover {
  background: #464b50;
  outline: none
}

#secondarySidebarCollapse:active {
  background: #2c3136;
  outline: none
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.fc-button {
  background: #17a2b9 !important;
  border: none !important;
  outline: none !important
}

.fc {
  height: 100% !important;
  color: #343a3f !important;
  margin-bottom: 5% !important
}

.fc-day-today {
  background: #bae3ea !important;
  font-weight: bold !important
}

.popover {
  color: #000
}

#calendar {
  padding: 50px 20px 20px
}

.notificationArea {
  position: relative;
  width: 50%;
  height: 100%;
  padding: 15px
}

.notificationArea ul {
  list-style: none;
  padding-left: 0
}

.notificationArea .card {
  width: 100%
}

#calendarContent {
  float: left
}

#taskContent {
  float: right
}

.card {
  height: 100px;
  margin-bottom: 15px;
  background-color: #eee;
  cursor: pointer
}

.cardHeader {
  padding: 10px 30px;
  position: relative;
  height: 30%;
  transform: translate(0, 15%);
  font-weight: bold
}

.cardHeader img {
  position: relative;
  float: left;
  height: 2em;
  margin-right: 15px;
  transform: translate(-10%, -10%)
}

.cardBody {
  position: relative;
  height: 70%;
  padding: 25px 25px
}

.colorBar {
  position: absolute;
  width: 5px;
  height: 100px;
  padding: 0;
  border: none;
  transition: .2s;
  z-index: 1000
}

.colorBar.active {
  width: 15px
}

.fa-exclamation-triangle {
  position: absolute;
  color: #000;
  transform: translate(-160%, 90%);
  background: orange;
  padding: 3px;
  border-radius: 50%
}

#mobileNotificationList ul li {
  width: 100%
}

#menuBtn {
  margin: 10px;
  padding: 10px;
  height: 50px;
  width: 50px;
  background: #2c3136;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 5px;
  position: relative;
  float: left;
}

.mainNavBarLogo {
  cursor: pointer;
}

.mainNavBarItemPath {
  cursor: pointer;
}

.mainNavBarUl {
  text-align: center;
}

.sideNavBarItemPath {
  cursor: pointer;
}

.list-unstyled .components {
  text-align: center;
}

#menuBtn i {
  top: 50%;
  transform: translateY(-50%)
}

#desktopContent {
  width: 100%
}

#sidebarDriveInBtn {
  transform: translate(225px, -20px);
  left: 100%;
  background: none;
  width: 25px;
  height: 100px;
  border: none;
  transition: all .3s;
  outline: none;
  cursor: pointer;
}

#sidebarDriveInBtn:hover {
  background: #7DCDDB
}

#secondarySidebarList li {
  position: relative;
  padding: 15px 5px;
  width: 100%;
  background: none;
  margin-bottom: 5px;
  transition: all .3s;
}

#secondarySidebarList li:hover {
  background: #464b50;
}

/*# sourceMappingURL=styles.css.map */
