@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: "Poppins", sans-serif;
    background: #fafafa
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all .3s
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .1)
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch
}

#secondarySidebar {
    left: 5%;
    position: fixed;
    min-width: 250px;
    max-width: 250px;
    background: #343a3f;
    color: #fff;
    transition: all .3s;
    min-height: 100%;
    z-index: 9998 !important;
    margin-left: -500px
}

#secondarySidebar.active {
    margin-left: 0
}

#secondarySidebar .secondarySidebar-header {
    padding: 20px;
    background: #17a2b9
}

#secondarySidebar ul p {
    color: #fff;
    padding: 10px
}

#secondarySidebar ul li a {
    padding: 10px 20px;
    font-size: 1.1em;
    display: block
}

#secondarySidebar ul li a img {
    margin-right: 15px
}

#secondarySidebar ul li a:hover {
    background: #464b50
}

#secondarySidebar ul li.active > a, a[aria-expanded=true] {
    color: #fff;
    background: #17a2b9
}

a[data-toggle=collapse] {
    position: relative
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%)
}

ul ul a {
    font-size: .9em !important;
    padding-left: 30px !important;
    background: #17a2b9
}

ul.CTAs {
    padding: 20px
}

ul.CTAs a {
    text-align: center;
    font-size: .9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px
}

a.download {
    background: #fff;
    color: #343a3f
}

a.article, a.article:hover {
    background: #17a2b9 !important;
    color: #fff !important
}

#content {
    position: relative;
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all .3s;
    margin-left: 21%
}

#content.active {
    margin-left: 5%
}

@media (max-width: 768px) {
    #secondarySidebar {
        margin-left: -250px
    }

    #secondarySidebar.active {
        margin-left: 5%
    }

    #secondarySidebarCollapse span {
        display: none
    }
}

#primarySidebar {
    position: fixed;
    width: 5%;
    height: 100%;
    background: #2b3033;
    padding: 10px 5px;
    text-align: center;
    align-items: center;
    color: #fff;
    font-weight: 500;
    z-index: 9999 !important;
    margin-left: 0;
    transition: 0.5s;
}

#primarySidebar.collapse {
    margin-left: -500px;
}

#primarySidebar img {
    position: relative;
    height: 7%
}

#primarySidebar p {
    position: relative;
    font-weight: 600
}

#secondarySidebarCollapse {
    top: 0;
    left: 85%;
    position: absolute;
    height: 100%;
    width: 5px;
    background: none;
    border: none;
    outline: none;
    transition: .3s
}

#secondarySidebarCollapse #arrowIcon {
    position: relative;
    transform: translate(-40%);
    color: #fff;
    -moz-transition: all 2s linear;
    -webkit-transition: all 2s linear;
    transition: all 2s linear
}

#secondarySidebarCollapse #arrowIcon.active {
    transform: rotate(180deg) translate(40%)
}

#secondarySidebarCollapse i {
    left: -5px
}

#secondarySidebarCollapse:hover {
    background: #464b50;
    outline: none
}

#secondarySidebarCollapse:active {
    background: #2c3136;
    outline: none
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.fc-button {
    background: #17a2b9 !important;
    border: none !important;
    outline: none !important
}

.fc {
    height: 100% !important;
    color: #343a3f !important;
    margin-bottom: 5% !important
}

.fc-day-today {
    background: #bae3ea !important;
    font-weight: bold !important
}

.popover {
    color: #000
}

#calendar {
    padding: 50px 20px 20px
}

.notificationArea {
    position: relative;
    width: 50%;
    height: 100%;
    padding: 15px
}

.notificationArea ul {
    list-style: none;
    padding-left: 0
}

.notificationArea .card {
    width: 100%
}

#calendarContent {
    float: left
}

#taskContent {
    float: right
}

.card {
    height: 100px;
    margin-bottom: 15px;
    background-color: #eee;
    cursor: pointer
}

.cardHeader {
    padding: 10px 30px;
    position: relative;
    height: 30%;
    transform: translate(0, 15%);
    font-weight: bold
}

.cardHeader img {
    position: relative;
    float: left;
    height: 2em;
    margin-right: 15px;
    transform: translate(-10%, -10%)
}

.cardBody {
    position: relative;
    height: 70%;
    padding: 25px 25px
}

.colorBar {
    position: absolute;
    width: 5px;
    height: 100%;
    padding: 0;
    border: none;
    transition: .2s;
    z-index: 1000
}

.colorBar.active {
    width: 15px
}

.fa-exclamation-triangle {
    position: absolute;
    color: #000;
    transform: translate(-160%, 90%);
    background: orange;
    padding: 3px;
    border-radius: 50%
}

#mobileNotificationList ul li {
    width: 100%;
    background: green
}

#menuBtn {
    margin: 10px;
    padding: 10px;
    height: 50px;
    width: 50px;
    background: #2c3136;
    color: #fff;
    text-align: center;
    border: none;
    border-radius: 5px;
    position: relative;
}

#menuBtn i {
    top: 50%;
    transform: translateY(-50%)
}

/*# sourceMappingURL=styles.css.map */
